@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 24px;

    /* Primary */

    --strongCyan: hsl(172, 67%, 45%);
    
    /* Neutral */
    
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--lightGrayishCyan);
    display: grid;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: auto auto;
    font-size: 24px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
main{
    box-sizing: border-box;
    width: clamp(320px, 100%, 860px);
    margin: auto auto;
}
header{
    display: flex;
    justify-content: center;
    margin: auto auto;
}
/* general form stylng */

form{
    background-color: white;
    border-radius: 13px 13px 0 0;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 25px;
    width: 100%;
}

/* label styling */
.user-input div, .person div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.user-input div span, .person div span{
    color: red;
    display: none;
    font-size: 0.6rem;
    font-weight: 700;
    justify-self: end;
    letter-spacing: 1px;
    word-spacing: 3px;
}
label, .tip-percentage > span{
    color: var(--darkGrayishCyan);
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* input designs */
#bill{
    background-image: url(/images/icon-dollar.svg);
}
#diners{
    background-image: url(/images/icon-person.svg);
}
input{
    background-color: var(--veryLightGrayishCyan);
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 0px;
    color: var(--veryDarkCyan);
    font-weight: 700;
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    text-align: right;
    width: clamp(270px, 100%, 100%);
    padding: 10px;
    margin-top: 10px;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: o;
}
input:focus{
    outline: 2px solid var(--strongCyan);
}
.error{
    border: 2px solid red;
}
/* tip buttons */
.tip-percentage, .person{
    margin-top: 25px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
    margin-top: 10px;
    
}

.buttons > span{
    background-color: var(--veryDarkCyan);
    color: var(--veryLightGrayishCyan);
    border-radius: 5px;font-weight: 600;
    height: fit-content;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}
.buttons > #custom{
    background-color: var(--veryLightGrayishCyan);
    color: var(--darkGrayishCyan);
    font-weight: 600;
}
.buttons span.active{
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
}
/* output styles */
.output{
    background-color: var(--veryDarkCyan);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    margin: 25px auto 0px auto;
    padding: 10px 20px;
}

.tip, .total{
    display: flex;
    justify-content: space-between;
}
.tip p, .total p{
    align-self: center;
    color: var(--veryLightGrayishCyan);
}
.tip p span, .total p span{
    color: var(--darkGrayishCyan);
    font-size: .72rem;
}
.tip p:last-child, .total p:last-child{
    color: var(--strongCyan);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 3px;
}
#reset{
    background-color: var(--darkGrayishCyan);
    border-radius: 10px;
    color: var(--veryDarkCyan);
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#reset.clear{
    background-color: var(--strongCyan);
}

/* media queries */
@media screen and (min-width:920px) {
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }    
    .input-wrapper{
        width: 100%;
    }
    .buttons{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;       
    }
    #reset{
        justify-self: center;
        width: 95%;
    }
    
    .output{
        margin: 0;
        padding-bottom: 40px;
        width: 100%;
    }
    .tip p:last-child, .total p:last-child{
        font-size: 1.7rem;
        font-weight: 700;
    }
    #reset:hover, .buttons > span:hover{
        background-color: var(--lightGrayishCyan);
        color: var(--veryDarkCyan);
        cursor: pointer;
    }
}

